:root {
    font-size: 10px;
}


main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#aboutContainer {
    display: flex;
    flex-direction: row;
    padding: 12em 7vw 5em;
}

#taylorImageContainer {
    width: 130vw;
    min-height: 80vh;
    background-color: rgb(145, 145, 145);
    margin-right: 5em;
}

#taylorImage img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

#artistDescription {
    color: white;
    text-decoration: none;
    user-select: none;
    font-family: 'tt-commons-pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    transition: none;
    padding-right: 7em;
}

#whiteboard, #whiteboard:link, #whiteboard:visited{
    color: white;
    text-decoration: none;
    user-select: none;
    transition: none;
    cursor: pointer;
    position: relative;
}

#whiteboard::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}
  
#whiteboard:hover::before, #whiteboard:hover::before {
    opacity: 1;
}