:root {
    font-size: 10px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

#aboutContainer {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    padding: 0em 7vw 5em;
}

#taylorImageContainer {
    width: 230em;
    min-height: 60em;
    background-color: rgb(145, 145, 145);
    margin-right: 5em;
}

#taylorImage img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

#aboutTypography {
    min-height: 60em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#artistDescription, #artistLinks {
    color: white;
    text-decoration: none;
    user-select: none;
    font-family: 'tt-commons-pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2rem;
    transition: none;
    padding-right: 5em;
}

.aboutLinks, .aboutLinks:link, .aboutLinks:visited{
    color: white;
    text-decoration: none;
    user-select: none;
    transition: none;
    cursor: pointer;
    position: relative;
}

.aboutLinks::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}
  
.aboutLinks:hover::before, .aboutLinks:hover::before {
    opacity: 1;
}


@media screen and (max-width: 40em) {
    #aboutContainer {
        flex-direction: column;
        padding: 3em 5vw;
    }
    
    #taylorImageContainer {
        width: 100%;
        min-height: 40em;
        margin-right: 0;
        margin-bottom: 3em;
    }
    
    #aboutTypography {
        min-height: auto;
    }
    
    #artistDescription, #artistLinks {
        padding-right: 0;
    }
    
    #artistLinks {
        margin-top: 3em;
    }
}