footer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background-color: rgb(27, 28, 28);
}

#footerLinkContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    /* margin: 20% auto; */
    width: 50%;
    height: auto;
    padding: 1em 2.5em;
}

.footerLink, .footerLink a:link, .footerLink a:visited {
    font-size: 1.5em;
}

.footerLink a:hover, .footerLink a:link:hover, .footerLink a:visited:hover {
    color: rgb(131, 131, 131);
}

#footerName, .footerNameMobile, .footerLink, .footerLink a:link, .footerLink a:visited {
    color: white;
    text-decoration: none;
    user-select: none;
    font-family: 'tt-commons-pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    position: relative;
    transition: none;
    transition: color .25s ease-in-out;
    line-height: 1em;
}

#footerName {
    width: 100%;
    height: auto;
    white-space: nowrap;
    overflow:hidden;
    margin: 0;
}

#footerName {
    white-space: nowrap;
    overflow:hidden;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.footerNameMobile {
    display: none;
}




@media screen and (max-width: 80em) {
    #footerLinkContainer {
        width: 100%;
        flex-direction: row;
        /* margin-bottom: 10%; */
        margin: auto;
        align-items: center;
        
    }

    #footerLinkContainer p {
        margin-bottom: 1.5em;
    }

    #footerName {
        display: none;
    }

    .footerNameMobile {
        display: flex;
        align-content: center;
        width: 100%;
        height: auto;
        margin: auto;
        /* width: fit-content; */
    }
    #footerNameMobileTop {
        padding-left: 18vw;
    }
}