
:root {
    font-size: 10px;
}

/* project grid */

.projectGridSection {
    height: auto;
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
}

#projectGridContainer {
    padding: 5em 7vw 5em;
    display: flex;
    transition: all 0.3s ease;
    flex-wrap: wrap;
}

.projectIdentifier {
    color: white;
    text-decoration: none;
    user-select: none;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    display: flex;
    position: relative;
    margin-right: 1em;
    margin-top: 0px;
    font-size: 1.8rem;
}

.projectGridCell img {
    aspect-ratio: 16 / 9;
    cursor: pointer;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

#cainAndAbel img {
    width: 45em;
    min-height: 60em;
}










/* PROJECT NAV */

#projectNav a, #projectNav a:link, #projectNav a:visited{
    color: white;
    text-decoration: none;
    user-select: none;
    font-family: 'tt-commons-pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    position: relative;
    transition: none;
    cursor: pointer;
    list-style-type: none;
}

#projectNav li {
    display: inline;
    font-size: 2em;
    padding-right: 2rem;
}

#projectNav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 5em;
    padding: 12em 7vw 5em;
    z-index: 800;
}


#projectNav #allTag {
    padding-right: 6rem;
}

#projectNav a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}
  
#projectNav a:hover::before{
    opacity: 1;
}

#projectNav a.active::before {
    opacity: 1;
}
