
:root {
    font-size: 10px;
}

/* project grid */

.projectGridContainer {
    height: 3000px;
    width: 100vw;
    display: flex;
    position: absolute;
}

#projectNav a, #projectNav a:link, #projectNav a:visited{
    color: white;
    text-decoration: none;
    user-select: none;
    font-family: 'tt-commons-pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    position: relative;
    transition: none;
    cursor: pointer;
    list-style-type: none;
}

#projectNav li {
    display: inline;
    font-size: 2em;
    padding-right: 2rem;
}

#divider {
    color: white;
    text-decoration: none;
    user-select: none;
    font-family: 'tt-commons-pro', sans-serif;
    font-weight: 300;
    font-style: normal;
    position: relative;
    transition: none;
    list-style-type: none;
}

#projectNav {
    position: relative;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 5em;
    padding: 12em 7vw 5em;
    z-index: 800;
}


#projectNav #allTag {
    padding-right: 6rem;
}

#projectNav a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}
  
#projectNav a:hover::before{
    opacity: 1;
}

#projectNav a.active::before {
    opacity: 1;
}
