/* general web utilities */
* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  user-select: none;
}

/* title elements */

:root {
  font-size: 10px;
}

/* front slider */

.frontSliderContainer {
  width: 100vw;
  height: 100%;
}

.sliderWrapper {
  position: relative;
  max-width: 100vw;
  height: 100%;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  transition: transform 0.5s ease-in-out;
  cursor: grab;
}

.slider.grabbing {
  cursor: grabbing;
  transition: none;
}

.slide {
  position: relative;
  flex: 1 0 100%;
  scroll-snap-align: start;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

/* slider navigation */

.frontSliderContainer .sliderWrapper .sliderNav {
  display: flex;
  column-gap: 2rem;
  position: absolute;
  bottom: 5em;
  left: 7vw;
  width: fit-content;
  z-index: 980;
}

.sliderNav a {
  width: 1.5rem;
  height: 1.5rem;
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  border-color: white;
  background-color: transparent;
  transition: all 0.25s ease;
  display: block;
  cursor: pointer;
}

.sliderNav a:hover {
  border-color: rgb(131, 131, 131);
  cursor: pointer;
}

.sliderNav a.active {
  background-color: white;
  border-color: white;
}

/* slider type */

.featuredType, .featuredType a:link, .featuredType a:visited {
  color: white;
  text-decoration: none;
  user-select: none;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.featuredType p {
  display: inline-block;
  position: relative;
  margin-right: 1em;
  margin-top: 0px;
  font-size: 1.8rem;
}

#collab {
  margin-right: 0;
}

.featuredType article {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 1rem;
  width: 10em;
  height: auto;
}

#type1 article {
  bottom: 5em;
  left: 10em;
}

#type2 article {
  bottom: 2.8em;
  left: 6em;
}

#type1, #type2, #type3 {
  font-family: 'tt-commons-pro', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 8em;
  line-height: 1;
}

#type2 h2 {
  font-family: 'argent-pixel-cf', sans-serif;
  font-weight: 400;
}

.featuredTagline {
  position: relative;
  width: fit-content;
  height: auto;
  line-height: 1;
  display: flex;
  align-items: center;
}

.featuredCategory::before, #kailey::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: white;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .25s ease-in-out;
}

.featuredCategory:hover::before, #kailey:hover::before{
  opacity: 1;
}


#type1 h2:hover, #type1 h2:hover a:link, #type1 h2:hover a:visited, #type2 h2:hover, #type2 h2:hover a:link, #type2 h2:hover a:visited, #type3 h2:hover, #type3 h2:hover a:link, #type3 h2:hover a:visited {
  color: blue;
}









#nextSection {
  height: 3000px;
  width: 100vw;
  display: flex;
  position: absolute;
}