/* general web utilities */
* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  user-select: none;
}

/* title elements */

:root {
  font-size: 10px;
}


/* front slider  */

.frontSliderContainer {
  width: 100vw;
  height: 100%;
}

.sliderWrapper {
  position: relative;
  max-width: 100vw;
  height: 100%;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  transition: transform 0.5s ease-in-out;
  cursor: grab;
}

.slider.grabbing {
  cursor: grabbing;
  transition: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}



/* slider navigation */

.frontSliderContainer .sliderWrapper .sliderNav {
  display: flex;
  column-gap: 2rem;
  position: absolute;
  bottom: 5em;
  left: 7vw;
  width: fit-content;
  z-index: 999;
}

.sliderNav a {
  width: 1.5rem;
  height: 1.5rem;
  border-style: solid;
  border-radius: 50%;
  border-width: 2px;
  border-color: white;
  background-color: transparent;
  transition: all 0.25s ease;
  display: block;
  cursor: pointer;
}

.sliderNav a:hover {
  border-color: rgb(131, 131, 131);
  cursor: pointer;
}

.sliderNav a.active {
  background-color: white;
  border-color: white
}

/* slider type */

.featuredType, .featuredType a:link, .featuredType a:visited{
  color: white;
  text-decoration: none;
  user-select: none;
  font-family: 'tt-commons-pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  position: relative;
  transition: none;
}